@using CDB.Common;
@model CDB.BLL.Dto.Request.UpdateFinancialAuditorDto
@{
    ViewData["Title"] = "";
}
<div class="row">
    <div class="column">
        <form asp-action="CreateAsync">
            <div class="form-group">
                <label asp-for="FinancialAuditorName" class="control-label"></label>
                <input asp-for="FinancialAuditorName" class="form-control" />
                <span asp-validation-for="FinancialAuditorName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DocsAttached" class="control-label"></label>
                <span asp-validation-for="DocsAttached" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinancialAuditorApproval" class="control-label"></label>
                @*@<input asp-for="Docs1Attached" class="form-control" />*@
                @Html.CheckBoxFor(model => model.FinancialAuditorApproval, htmlAttributes: new { @checked = true })
                <span asp-validation-for="FinancialAuditorApproval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinancialAuditorProfession" class="control-label"></label>
                @*@<input asp-for="Docs1Attached" class="form-control" />*@
                @Html.CheckBoxFor(model => model.FinancialAuditorProfession, htmlAttributes: new { @checked = true })
                <span asp-validation-for="FinancialAuditorProfession" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>



<!-- YAMLI CODE START -->
<script type="text/javascript" src="https://api.yamli.com/js/yamli_api.js"></script>
<script type="text/javascript">
    if (typeof (Yamli) == "object" && Yamli.init({ uiLanguage: "en", startMode: "onOrUserDefault" })) {
        Yamli.yamlify("", { settingsPlacement: "bottomLeft" });
    }
</script>
<!-- YAMLI CODE END -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
