@model CDB.BLL.Dto.Request.AddressDto

@{
    ViewData["Title"] = "UpdateCompanyPaneAsync2";
}

<h2>UpdateCompanyPaneAsync2</h2>

<h4>AddressDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCompanyPaneAsyncz">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kaza" class="control-label"></label>
                <input asp-for="Kaza" class="form-control" />
                <span asp-validation-for="Kaza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Road" class="control-label"></label>
                <input asp-for="Road" class="form-control" />
                <span asp-validation-for="Road" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building" class="control-label"></label>
                <input asp-for="Building" class="form-control" />
                <span asp-validation-for="Building" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
