@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Université Saint Joseph<br />
    Mar Roukoz, INCI NobaTech<br />
    <abbr title="Phone">Phone number:</abbr>
    01421317
</address>

<address>
    <strong>Support:</strong> <a href="mailto:noba57@hotmail.com">noba57@hotmail.com</a><br />
    <strong>Manager:</strong> <a href="mailto:sassine.jaoude@hotmail.com">sassine.jaoude@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:fi.inci@usj.edu.lb">fi.inci@usj.edu.lb</a>
</address>
